body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 100vh;           
  background-color: #000000; /* Set background color if needed */
}

canvas {
  border: 2px solid #ffffff;  
}

h1 {
  font-size: 24px; 
  font-style: bold;
  color: white;
}

a {
  margin: 8px; /* Add some margin between the buttons */
}

button {
  margin: 8px; /* Add some margin between the buttons */
  padding: 10px 20px; /* Padding inside the buttons */
  background-color: #000000; /* Button background color */
  color: #fff; /* Text color (white) */
  border-color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: color .5s ease;
}

/* button:hover {
  background-color: #ffffff; 
  color: black;
  border-color: black;
} */

/* #downloadButton {
  position: fixed; 
  top: 20px;   
  left: 20px;    
  border: 1.5px solid #ffffff;
  border-radius: 100px;
  padding: 10px;
  cursor:pointer;
} */

.button-container {
  display: flex; /* Use a flex container to stack buttons vertically */
  flex-direction: column; /* Stack items vertically */
  width: max-content; /* Make it only as wide as its content */
  align-items: flex-start;
  padding: 10px; /* Padding inside the container */
  display: flex;
  position: fixed; 
  top: 10px;   
  left: 10px;  

}


img {
  width: 40px; /* Adjust the width to change the size */
  height: auto; /* Maintain the original aspect ratio */
}

@media screen and (max-width: 768px) {
  .button-container {
    display: flex; /* Use a flex container to stack buttons vertically */
    flex-direction: column; /* Stack items vertically */
    width: max-content; /* Make it only as wide as its content */
    align-items: flex-start;
    border: 0px;
    display: flex;
    position: fixed; 
    top: 10px;   
    left: 10px;  
  }
}