body, html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 100vh;           
  background-color: #000000; /* Set background color if needed */
}

canvas {
  border: 2px solid #ffffff;  
}

/* @media screen and (max-width: 768px) {
  canvas {
    width: 100%; 
    height: auto;
  }
} */