body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 100vh;           
  background-color: #000000; /* Set background color if needed */
}

canvas {
  border: 2px solid #ffffff;  
}

h1 {
  font-size: 24px;
  display: flex;
  position: fixed; 
  top: 10px;   
  left: 10px;    
  color: white;
}

a {
  position: fixed; 
  bottom: 10px;   
  right: 10px;    
  color: white;
}

button {
  position: fixed; 
  bottom: 15px;   
  left: 10px;    
  /* color: white; */
}


img {
  width: 40px; /* Adjust the width to change the size */
  height: auto; /* Maintain the original aspect ratio */
}